PORT=5000
NODE_ENV=development

DB_HOST=mysql-****************.net
DB_PORT=3306
DB_USER=am****
DB_PASSWORD=**********En
DB_NAME=***************database_v2
DB_CONNECTION_LIMIT=10

JWT_ACCESS_SECRET=2ee0a90fc07a27be86e8156c3b91136720c90dbb888187a2c5d9952d9ca41996e3f64bf39992a2e8ff
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_DAYS=30

API_TOKEN_DAYS=30
